/* FollowUpScheduler.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-top: -20px;
    font-family: Georgia, 'Times New Roman', Times, serif, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
  }
  
  labelPackage {
    display: flex;
    justify-items: center;
    color: #555;
    width: 100%;
    font-size: 13pt; /* Font size for the select element */
    margin-left: 550px;
  }

/* ConfirmationDialog.css */
.confirmationBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Make sure it appears above other content */
}

.confirmationDialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  width: 1100px;
  height: 400px;
  min-height: 45vh;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid #98c1ed;
}

.confirmationMessage {
  font-size: 16px;
  margin-bottom: 20px;
}

.confirmationButtons {
  display: flex;
  justify-content: center;
}

.confirmationButtons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.confirmationButtons button.confirm {
  background-color: #4caf50; /* Green color for confirmation button */
  color: #fff;
}

.confirmationButtons button.cancel {
  background-color: #f44336; /* Red color for cancel button */
  color: #fff;
}

.testDiv {
  position: relative;
  width: 100%;
  height: 43vh;
}

/* Other existing styles */

.input {
  width: 20%;
  padding: 8px;
  font-size: 11pt; /* Font size for the select element */
  border: 1px solid #ccc;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin: 3px;
  border-radius: 4px;
  margin-left: 10px;

}

.AddHealthRecordButton{
  width: 20%;
  padding: 8px;
  font-size: 11pt; /* Font size for the select element */
  border: 1px solid #ccc;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin: 3px;
  border-radius: 4px;
  margin-left: 10px;
}

.button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  width: 20%;
  font-size: 12pt;
  transition: background-color 0.3s;
}

.input:hover {
  border-color: #007bff; /* Change border color on hover */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); /* Add box shadow on hover */

}

.button:hover {
  background-color: #0056b3; /* Change background color on hover */
}

/* Dropdown.module.css */

.selectDropdown {
  width: 30%;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  color: #333;
  margin-left: 10px;
  margin-top: -10px;

}

.selectDropdown:hover{
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.optionItem {
  font-size: 16px;
  color: #333;
}

.formContainer {
  width: 400px;
  height: 250px;
  margin: 2rem auto;
  padding: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formTitle {
  margin-top: 20px;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  margin-bottom: 1rem;
}

.formLabel {
  display: block;
  margin-bottom: 0.5rem;
  color: #666;
  font-size: 1rem;
}

.formInput,
.formFileInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
}

.formButton {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.formButton:hover {
  background-color: #45a049;
}

.statusMessage {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  text-align: center;
}
