.packDetailsCont{
    margin-bottom: 2rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.267);
    border-radius: 15px;
    width: 400px;
    min-height: 170px;
    padding: 30px;
    padding-top: 40px;
    margin-top: 3rem;
}

.packDetailsCont:hover {
    transform: scale(1.1); /* Slight scale effect on hover */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.267);
    }

    .button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        width: 70%;
        font-size: 19px;
        margin-top: 2rem;
        border-radius: 5px;
        transition: background-color 0.3s;
        font-family: Arial, sans-serif;
        margin-bottom: 2rem;
        margin-left: 3rem;
      }
      
      .button:hover {
        background-color: #0056b3;
      }

      .pText{
        font-size: 12pt;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: rgba(40, 40, 41, 0.678);
        margin-bottom: 0.5rem;;
    }
    