.separatorOfAdmin {
    height: 2px; /* Thickness of the separator */
    background-color: #ddd; /* Color of the separator */
    margin: 20px 0; /* Vertical spacing around the separator */
    color: #336cfb;
}
