
.doctorActionButton {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease
}

.approveButton {
    background-color: #1375dd;
    color: white;
}

.approveButton:hover {
    background-color: #71b7e6;
    color: black;
}

.rejectButton {
    background-color: #1375dd;
    color: white;
}

.rejectButton:hover {
    background-color: #71b7e6;
    color: black;
}


.searchInput {
    margin-top: 20px;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  
    &:focus {
      border-color: #007bff; /* Change color as needed */
    }
  }
  .searchInput:hover {
    border-color: #007bff; /* Change color as needed */
  }
  