.tableHeader {
  background-color: #efeeee; /* Change to your desired header background color */
  color: rgb(0, 0, 0); /* Change to your desired header text color */
}

:global
  .ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  background-color: #336cfb;
  color: white;
}
:global .ant-table {
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.12);
}